<!DOCTYPE HTML> 

<style type="text/css">
a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url(http://p1.pichost.me/i/66/1910819.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  height:40px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


</style>

<body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">

      <div class="inner cover">
        <h1 class="cover-heading">Thanks a million. </h1>

        <p class="lead">We're going to launch December 18th exclusively for our first 500 beta testers (YOU!).</p>

        <!-- Tweet Cutesy button -->
		<a class="twitter-share-button"
			href="https://twitter.com/share"
			data-via="cutesyapp"
			data-text="Sign up for Beta access to Cutesy! "
			data-size="large">
			Tweet to your friends!
			</a>
			<script type="text/javascript">
			window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
			</script>

      <div class="mastfoot">
        <div class="inner">
          <p><small>© 2014 Cutesy.io</small></p>         
          <p>Have a question? <a href="mailto:cutesyapp@gmail.com">Email Us!</a></p>
        </div>
      </div>
    </div>
</div>
</div>
</body>