<!DOCTYPE HTML>
<head>
<style type="text/css">
html, body { 
  background: url(../assets/puppy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

/*.center{
	height:400px;
	width: 300px;
	background-color: rgba(0,0,0,0.7);
	margin-left:20%;
	border-radius: 5%;
}*/
.cutesy{
	color:white;
	font-size:50px;
	margin-left:30px;

}

.cutesy p{
	font-size: 18px;
	max-width:250px;
}

h1 {
	margin-top: 7%;
	margin-bottom:0px;
} 

.btn {
	margin-left: 26px;
	margin-top: 3%;
}

h6{
	margin-left:30px;
}

</style>
</head>

<body>
	<div class="center">
		<div class="cutesy">
			<h1>Cutesy</h1>
			<p>Do you have the cutest pet? Sign up to find out. Here, you can share your pet with the world, see and rate other people's pets. </p>

			
		
		<%= link_to "Sign up with Twitter", "/auth/twitter", method: :get, :class => "btn btn-primary btn-lg btn-twitter" %>
		<h6>Be one of the first 500 beta users!</h6>
		</div>
		<%#= link_to "Home", home_path, :class=> "custom-navbar-buttons" %>
	</div>

</body>