<div class="col-md-3 col-sm-3"></div>
    <div class="container col-md-6">
    <table class="table table-striped ">
    	<thead>
            <tr>
                <th>Rank</th>
                <th>Pet</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Average Rating</th>
            </tr>
        </thead>
      <tbody>
        <% x=0 %>
        <% @pets.each do |p|
            x+=1 %> 
            <tr>
                <td style="font-size:30px; text-align:center;"><%= x %></td>
                <td><%= image_tag p.avatar.url(:medium), :style =>'width: 75px; height: 75px;' if p.avatar %></td>
                <td><%= p.name %> </td>
                <td><%= p.user && p.user.screen_name ? p.user.screen_name : "" %></td>
                <td>  </td>

            </tr>

        
         <% end %>
      </tbody>
    </table>
    </div>
</div>
<div class="col-md-3 col-sm-3"></div>
