<h1 style="text-align:center">Upload your pet!</h1>
    <div class="container">
        <div class="row">
        	<div class="col-md-3 col-sm-3 col-xs-3"></div>
	            <div class="thumbnail  col-md-6 col-sm-6" style="padding: 0">
	                  <!-- Name, age, breed -->
                        	<div class="panel panel-default">
                        	<div class="panel-body">
	                        	<div class="" style="font-size:20px; color:#4099ff;">
		                        	<%= render 'form' %>
		                    	</div>  
		                    </div>
		                </div>
                    </div>
	            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>




