<h1>Editing User</h1>



<div class="container">
        <div class="row">
        	<div class="col-md-3 col-sm-3 col-xs-3"></div>
	            <div class="thumbnail  col-md-6 col-sm-6" style="padding: 0">
	                  <!-- Name, age, breed -->
                        	<div class="panel panel-default">
                        	<div class="panel-body">
	                        	<div class="" style="font-size:24px; color:#4099ff;">
	                        		<%= render 'form' %>
		                    	</div>  
		                    </div>
		                </div>
		                

                    </div>
	            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
    </div>

   My USER_ID: <%= current_user.id %>