<style> 

/*User Profile*/
    
.profile-user {
  position: relative;
  max-width: 964px;
  min-height: 75px;
  margin: 0 auto;
  padding: 10px 2px;
  border-bottom: 1px solid #d9d9d9;
  background: #eeeeee url("//d36xtkk24g8jdx.cloudfront.net/bluebar/dd6cb37/images/bg/white-gradient-200px.png") repeat-x 50% 50%;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*User Pets*/

.pet1{
  background-image:url("http://www.pet360.com/Content/Images/Cms/GermanShepherd.jpg");
  background-position:center;
  width: 100%;
}

.pet2{
  background-image:url("http://www.iconsdb.com/icons/preview/gray/plus-5-xxl.png");
  background-position:center;
  background-size:40%;
  background-repeat:no-repeat;
  width: 20%;
  border:1px solid grey;
}

.panel-body {
  
}

.petname{
  text-align:center;
  background-color: rgba(0,0,0,0.4);
  margin:auto auto;
  color:white;
}
.petratingandviews{
  text-align:center;
  font-size:20px;
  color:white;
  margin-top:100px;
}

</style>   

<div class="col-md-3 col-sm-3"></div> 
    <div class="thumbnail col-md-6 col-sm-6" style="padding: 0">   
        <div class="profile-user" style>
          <div class="row-fluid">

          <h1> Upload your pet! </h1>
          <!-- Cat or Dog -->
                    <button type="button" class="btn btn-default btn-lg col-md-6" style="">Cat</button>
                    <button type="button" class="btn btn-default btn-lg col-md-6">Dog</button>
        <!-- M or F-->
        <button type="button" class="btn btn-default btn-lg col-md-6" style="">Female</button>
        <button type="button" class="btn btn-default btn-lg col-md-6">Male</button>


          <!-- Form for pet -->
          <form role="form">
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control" placeholder="Name">
			  </div>
			  
			  <div class="form-group">
			    <label for="exampleInputPassword1">Age</label>
			    <input type="text" class="form-control" placeholder="Age">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Breed</label>
			    <input type="text" class="form-control" placeholder="Breed">
			  </div>
			  <!-- Form continues -->
			  <div class="form-group">
			    <label for="exampleInputPassword1">About Me</label>
			    <textarea class="form-control" rows="3" placeholder="ex: I'm JoJo and I love eating my own barf! "></textarea>
			  </div>
			  
			  <div class="form-group">
			    <label for="exampleInputFile">Upload Pics	</label>
			    <input type="file" id="exampleInputFile">
			  </div>
			
      <!-- Add Pet -->
      <div class="panel panel-default">
        <div class="panel-body" style="">
        	<!-- Pics -->
	          <div class="pet2 col-md-3" style="height: 189px; border: 1 px solid grey;float:left;">
	          </div>
	          <div class="pet2 col-md-3" style="height: 189px; border: 1 px solid grey;float:left;">
	          </div>
	          <div class="pet2 col-md-3" style="height: 189px; border: 1 px solid grey;float:left;">
	          </div>
	          <div class="pet2 col-md-3" style="height: 189px; border: 1 px solid grey;float:left;">
	          </div>
	          <div class="pet2 col-md-3" style="height: 189px; border: 1 px solid grey;float:left;">
	          </div>
        </div>
      </div>
    </div>
</div>
        <!-- Enter Button -->
        <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
    </div>
  </div>  
</div>
</form>

<div class="col-md-3 col-sm-3"></div>
</body>
