<!DOCTYPE html>
<html lang="en">
<style type="text/css">

</style>

<body>
<div class="container">
    <div class="row">
    	<div class="col-md-3 col-sm-3"></div>
          <div class="thumbnail  col-md-6" style="padding: 0">
            <div style="padding:4px; overflow:hidden; position:relative">
              <img alt="300x200" style="width: 100%" src="../assets/darla.jpg">
            </div>
            <div class="caption">
              <h2 style="text-align:center;">Darla</h2>
            <div class="panel panel-default">
  				<div class="panel-body">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum mi ut turpis fringilla, id ultrices risus blandit. Proin ut volutpat.</p>
  				</div>
			</div>
            </div>
            <div class="modal-footer" style="">
            </div>
          </div>
          <div class="col-md-3 col-sm-3"></div>
    </div>
</div>
</body>





























































































