<style type="text/css">
.twitterhandle{
	border: 1px solid black;
	height:50 px;
	width:200px;
}

.wrapper{
	width: 100%;
}
</style>


<body>
	<div class="wrapper">

	<div class="twitterhandle">
		yo this is where the twitter handle goes

	</div>

	</div>

<div class="jumbotron">
  <h1>I should be a jumbotron</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>



</body>