<style type="text/css">
.title{
	text-align:center;
}
</style>


    <h1 class="title">Leaderboard</h1>
        <div class="container">
        <table class="table table-striped">
        	<thead>
                <tr>
                    <th>Rank</th>
                    <th>Pet</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Average Rating</th>
                </tr>
            </thead>
          <tbody>
            <div ng-controller="feedController">
                <tr ng-repeat="x in pets" >
                    <td>1</td>
                    <td>{{x}}</td>
                    <td>{{x.name}}</td>
                    <td>{{User.screen_name}}</td>
                    <td>{{x.beysian_rating}}</td>
                </tr>
          </tbody>
        </table>
        </div>
</div>
</body>
</html>