<!DOCTYPE html>
<style type="text/css">
body {background: #EAEAEA;}
.user-details {
	position: relative; padding: 0;
}
.user-details .user-image {
	position: relative;  z-index: 1; width: 100%; text-align: center;
}
 .user-image img {
  clear: both; margin: auto; position: relative;}

.user-details .user-info-block {
	width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;
}
 .user-info-block .user-heading {
 	width: 100%; text-align: center; margin: 10px 0 0;
 }
 .user-info-block .navigation {
 	float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #428BCA; border-top: 1px solid #428BCA;
 }
  .navigation li {
  	float: left; margin: 0; padding: 0;
  }
   .navigation li a {
   	padding: 20px 30px; float: left;
   }
   .navigation li.active a {
   	background: #428BCA; color: #fff;
   }
 .user-info-block .user-body {
 	float: left; padding: 5%; width: 90%;
 }
  .user-body .tab-content > div {
  	float: left; width: 100%;
  }
  .user-body .tab-content h4 {
  	width: 100%; margin: 10px 0; color: #333;
  }
</style>

<body>
	    <div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 user-details">
	            <div class="user-image">
	                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
	            </div>
	            <div class="user-info-block">
	                <div class="user-heading">
	                    <h3>@TwitterHandle</h3>
	                    <span class="help-block">Chandigarh, IN</span>
	                </div>
	                <ul class="navigation">
	                    <li class="active">
	                        <a data-toggle="tab" href="#information">
	                            <span class="glyphicon glyphicon-user"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#settings">
	                            <span class="glyphicon glyphicon-cog"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#email">
	                            <span class="glyphicon glyphicon-envelope"></span>
	                        </a>
	                    </li>
	                    <li>
	                        <a data-toggle="tab" href="#events">
	                            <span class="glyphicon glyphicon-calendar"></span>
	                        </a>
	                    </li>
	                </ul>
	                <div class="user-body">
	                    <div class="tab-content">
	                        <div id="information" class="tab-pane active">
	                            <h4>Account Information</h4>
	                        </div>
	                        <div id="settings" class="tab-pane">
	                            <h4>Settings</h4>
	                        </div>
	                        <div id="email" class="tab-pane">
	                            <h4>Send Message</h4>
	                        </div>
	                        <div id="events" class="tab-pane">
	                            <h4>Events</h4>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</body>








































































<!-- 
<html lang="en">
<style type="text/css">
.twitterhandle{
	border: 1px solid black;
	width:440px;
	text-align: center;
}

.imageofuser{
	height:440px;
	width:440px;
}

.nameofpetname{
	font-size: 24px;
}

.wrapper{
	width: 100%;
	clear:both;
}

.descedit{
	height: 100px;
	float:left;
}

.description{
	max-width:360px;
	border: 1px solid grey;
	float:left;
}

.edit{
	height: 55px;
	width: 80px;
	float:left;
}

.petsofuser{
	width:440px;
	float:left;
	border: 1px solid grey;
}

.pet1{
	background-image:url("http://www.pet360.com/Content/Images/Cms/GermanShepherd.jpg");
	background-position:center;
	width: 440px;
	height: 200px;
}

.pet2{
	background-image:url("http://40.media.tumblr.com/tumblr_li81cskvhb1qi5hjlo1_1280.jpg");
	background-position:center;
	width: 440px;
	height: 200px;
}

.petname{
	width:100px;
	height:50px;
	background-color: rgba(0,0,0,0.4);
	margin-left: 150px;
	color:white;
}
.petratingandviews{
	text-align:center;
	color:white;
	margin-top:100px;
}

</style>

<body>
<div class="container">
<div class="wrapper">
	<!-- Name of Pet -->

	<!-- 
	<div class="twitterhandle">
		<p class="nameofpetname">@SamGrimes</p>
	</div>
	Image of pet
	<div class="imageofuser">
		<img src="https://media.licdn.com/media/p/3/000/1c4/3d4/1de7217.jpg" alt="..." class="img-rounded imageofuser">
	</div>


	<div class="descedit">
		<div class="description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget dui tellus. Ut lacinia pulvinar est at vestibulum. Praesent id volutpat.</p>
		</div>

		<div class="edit">
			<button type="button" class="btn btn-default edit"><h3>Edit</h3></button>
		</div>
	</div>


	<div class="petsofuser">
		<div class="pet1">
			<div class="petname">
				<h2>JoJo</h2>
			</div>

			<div class="petratingandviews">
				<div class="petrating">
					16,256 views
				</div>
				<div class="petviews">
					Average 4.37 stars
				</div>

			</div>
		</div>

		<div class="pet2">
			<div class="petname">
				<h2>Darla</h2>
			</div>

			<div class="petratingandviews">
				<div class="petrating">
					14,256 views
				</div>
				<div class="petviews">
					Average 3.87 stars
				</div>

			</div>
		</div>
	</div>




</div>
</div>
</body>

</html> --> 