<!DOCTYPE html>
<style type="text/css">
.petsofuser{
	float:left;
	width: 100%;
	border: 1px solid grey;
}

.pet1{
	background-image:url("http://www.pet360.com/Content/Images/Cms/GermanShepherd.jpg");
	background-position:center;
	width: 100%;
}

.pet2{
	background-image:url("http://40.media.tumblr.com/tumblr_li81cskvhb1qi5hjlo1_1280.jpg");
	background-position:center;
	width: 100%;
}

.petname{
	width:100px;
	height:50px;
	background-color: rgba(0,0,0,0.4);
	margin-left: 150px;
	color:white;
}
.petratingandviews{
	text-align:center;
	color:white;
	margin-top:100px;
}
</style>

<body>
<div class="container">
    <div class="row">
          <div class="thumbnail  col-md-6" style="padding: 0">
            <div style="padding:4px; overflow:hidden; position:relative">
              <img alt="300x200" style="width: 100%" src="../assets/mike.jpg">
            </div>
            <div class="caption">
              <h2>@TwitterHandle</h2>
            <div class="panel panel-default">
  				<div class="panel-body">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum mi ut turpis fringilla, id ultrices risus blandit. Proin ut volutpat.</p>
  				</div>
			</div>
            </div>
            <div class="modal-footer" style="">
		<div class="pet1">
			<div class="petname">
				<h2>JoJo</h2>
			</div>

			<div class="petratingandviews">
				<div class="petrating">
					16,256 views
				</div>
				<div class="petviews">
					Average 4.37 stars
				</div>

			</div>
		</div>

		<div class="pet2">
			<div class="petname">
				<h2>Darla</h2>
			</div>

			<div class="petratingandviews">
				<div class="petrating">
					14,256 views
				</div>
				<div class="petviews">
					Average 3.87 stars
				</div>

			</div>
		</div>
            </div>
          </div>
    </div>
</div>
</body>
