<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<%= javascript_include_tag 'application' %>
	<!-- To ensure proper rendering and touch zooming, add the viewport meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Disables zooming, making app feel more native-like -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body ng-app="spaApp">
<div class="container-fluid">

	<!-- Navbar -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	<div class="makemethirds col-md-4">
				<a ui-sref="feed"><button type="button" class="btn btn-default navbar-btn">Feed</button></a>
				<a ui-sref="profile"><button type="button" class="btn btn-default navbar-btn">Profile</button> </a>
				<a ui-sref="leaderboard"><button type="button" class="btn btn-default navbar-btn">Leaderboard</button> </a>
			</div>
			<%= link_to "Sign in with Twitter", "/auth/twitter" %>
	    </div>
	  </div>
	</nav>
	
			
	<%= yield %>


	</div>
</body>
</html>
