<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<%= javascript_include_tag 'application' %>
	<!-- To ensure proper rendering and touch zooming, add the viewport meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Disables zooming, making app feel more native-like -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- <%= link_to "Sign in with Twitter", "/auth/twitter" %> -->
</head>
<body ng-app="spaApp" style="background-image:url('../assets/background.jpg'); background-size:cover;">
<div class="container-fluid">

	<!-- Navbar -->
	<!-- <nav class="navbar navbar-default" role="navigation"> -->
	  <div class="container-fluid" ng-controller="navController">
				<button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn"ng-click="getUrlFeed()">Feed</button></a>
				<!-- <a ui-sref="profile"><button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn">Profile</button> </a>				 -->
				<button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn" ng-click="getUrlProfile()">Profile</button>

				<a ui-sref="leaderboard"><button type="button" class="col-xs-4 col-sm-4 col-md-4 btn btn-default navbar-btn" ng-click="getUrlLeader()">Leaderboard</button> </a>
			
	  </div>
	<!-- </nav> -->
	
			
	<%= yield %>


	</div>
</body>
</html>
